.signIn {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 3rem;
}

.signIn__group {
  position: relative;

  display: flex;
  width: 100%;

  margin-bottom: 10px;

  border: 1px solid #bac8d3;
  border-radius: 5px;
}

.signIn__icons {
  height: 100%;
  padding: 7px;

  border-radius: 5px 0 0 5px;

  background-color: rgba(220, 221, 222, 0.75);
}

.signIn__icon {
  width: 24px;
  height: 24px;
}

.signIn input {
  width: 100%;

  padding: 12px 18px;

  color: #000000;
  font-family: inherit;
  font-size: 1rem;

  border-radius: 0 5px 5px 0;

  outline: none;

}

.signIn input:focus {
  box-shadow: 1px 1px 5px #bac8d3;
}

.show__icon {
  display: flex;
  align-items: center;
}

.show {
  position: absolute;
  right: 10px;

  cursor: pointer;
}

.signIn__btn {
  padding: 10px;

  font-weight: 600;

  border-radius: 5px;
  cursor: pointer;
  transition: background-color .2s linear;
  outline: none;

}

.signIn__btn:hover {
  background-color: #bac8d3;
  transition: background-color .2s linear;
}

.signIn__btn:active {
  background-color: #7f8990;
}

@media (max-width: 767px) {
    ::placeholder {
    font-size: 12px;
  }

  .signIn__icon.show {
    width: 14px;
    height: 14px;
  }
}
